.btn-sair {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: solid 1px rgb(31, 203, 226);
    background-color: white;
    color: rgb(31, 203, 226);
    position: fixed;
    top: 120px;  /* Ajuste a distância do topo */
    right: 20px; /* Ajuste a distância da direita */
    z-index: 1000; /* Para garantir que o botão fique sobre outros elementos */
}
.usuario{
    color: rgb(31, 203, 226);
    
}